*{
	margin: 0;
	padding: 0;
	background-color: 	#8686d3;
}

.container {
	width: 100%;
	hight: 100%
	
}

.bar {
	background-color: 	pink;
}

.bar ul{
	display: inline-flex;
	margin: 50px;
	background-color: 	pink;
	color: white;
	font-size: 25;
}

.bar ul a{
	list-style: none;
	margin: 0 50px;
	color: white;
	background-color: 	pink;
    
	right: 5px;
}

.bottom ul p {
	font-size: 20px;
}